In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [13]:
data = pd.read_csv("all-states-history.csv")
popdf = pd.read_csv("state_population.csv")
affdf = pd.read_csv("party_affiliation.csv")

In [14]:
required_cols = ["date", "state", "deathIncrease", "hospitalizedCumulative", "hospitalizedCurrently", "totalTestResultsIncrease", "recovered", "positive"]
df = data[required_cols]

In [18]:
df = pd.merge(df, popdf, on="state")
df = pd.merge(df, affdf, on="state")

In [19]:
df

,date,state,deathIncrease,hospitalizedCumulative,hospitalizedCurrently,totalTestResultsIncrease,recovered,positive,pop,p_democrat,p_republican,is_democrat
0,2021-03-07,AK,0,1293.0,33.0,0,NaN,56886.0,2687341,0.427720,0.528331,False
1,2021-03-06,AK,0,1293.0,33.0,0,NaN,56886.0,2687341,0.427720,0.528331,False
2,2021-03-05,AK,2,1293.0,33.0,7144,NaN,56886.0,2687341,0.427720,0.528331,False
3,2021-03-04,AK,0,1290.0,32.0,13466,NaN,56745.0,2687341,0.427720,0.528331,False
4,2021-03-03,AK,1,1285.0,26.0,6358,NaN,56605.0,2687341,0.427720,0.528331,False
...,...,...,...,...,...,...,...,...,...,...,...,...
18622,2020-03-05,WY,0,NaN,NaN,4,NaN,NaN,2133993,0.263879,0.694998,False
18623,2020-03-04,WY,0,NaN,NaN,3,NaN,NaN,2133993,0.263879,0.694998,False
18624,2020-03-03,WY,0,NaN,NaN,0,NaN,NaN,2133993,0.263879,0.694998,False
18625,2020-03-02,WY,0,NaN,NaN,0,NaN,NaN,2133993,0.263879,0.694998,False
18626,2020-03-01,WY,0,NaN,NaN,0,NaN,NaN,2133993,0.263879,0.694998,False

In [ ]:
print(f"old length: {len(df)}")
new_df = df.dropna()
print(f"new length: {len(new_df)}")

In [ ]:
new_df