# Data cleaning for getting state population

In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("pop2019.csv",encoding = "ISO-8859-1")

# Get the conversion mapping to convert from State Name to State Code.
with open('state_conversion.json') as f:
  conv = json.load(f)
conv = dict(map(reversed, conv.items()))
# print(conv)

df["state"] = df["STNAME"].map(conv)
df["pop"] = df["POPESTIMATE2019"]
df = df[["state", "pop"]]

# Getting sum of all counties withi
df2 = df.groupby("state").sum()

In [7]:
df2

             pop
state
AK       2687341
AL      17708542
AR      11054564
AZ      27627558
CA     151471659
CO      21555259
CT      17089107
DE       3197408
FL      75206503
GA      37199299
HI       4151371
IA      11989765
ID       6618823
IL      73627377
IN      39385284
KS      16293820
KY      17392377
LA      15952293
MA      34814797
MD      18512840
ME       5939571
MI      50820209
MN      29337058
MO      23006635
MS      10433992
MT       3857137
NC      37393753
ND       4152370
NE       7799544
NH       6245984
NJ      43996306
NM       7673367
NV      10880183
NY      90640314
OH      64159508
OK      14915066
OR      15616956
PA      59212346
RI       5158850
SC      17311704
SD       4696261
TN      25972850
TX     108308143
UT      12617285
VA      27103333
VT       2864431
WA      27815188
WI      31677485
WV       5984336
WY       2133993

In [8]:
df2.to_csv("state_population.csv")