In [25]:
import pandas as pd
import json

In [28]:
df = pd.read_csv("pop2019.csv",encoding = "ISO-8859-1")

with open('state_conversion.json') as f:
  conv = json.load(f)
conv = dict(map(reversed, conv.items()))
# print(conv)
df["state"] = df["STNAME"].map(conv)
df["pop"] = df["POPESTIMATE2019"]

In [30]:
# Get state, population 2019
my_df = df[["state", "pop"]]

In [31]:
my_df

      state      pop
0        AL  4903185
1        AL     2560
2        AL     4281
3        AL      718
4        AL      328
...     ...      ...
81429    WY     2531
81430    WY     6927
81431    WY     3397
81432    WY     1056
81433    WY     2474

[81434 rows x 2 columns]

In [33]:
my_df.to_csv("state_population.csv")