In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [49]:
df = pd.read_csv("all-states-history.csv")
pop_df = pd.read_csv("pop2019.csv",encoding = "ISO-8859-1")
state_conv = pd.read_json("state_conversion.json", orient="index")

In [50]:
state_conv

                                 0
AL                         Alabama
AK                          Alaska
AS                  American Samoa
AZ                         Arizona
AR                        Arkansas
CA                      California
CO                        Colorado
CT                     Connecticut
DE                        Delaware
DC            District Of Columbia
FM  Federated States Of Micronesia
FL                         Florida
GA                         Georgia
GU                            Guam
HI                          Hawaii
ID                           Idaho
IL                        Illinois
IN                         Indiana
IA                            Iowa
KS                          Kansas
KY                        Kentucky
LA                       Louisiana
ME                           Maine
MH                Marshall Islands
MD                        Maryland
MA                   Massachusetts
MI                        Michigan
MN                       Minnesota
MS                     Mississippi
MO                        Missouri
MT                         Montana
NE                        Nebraska
NV                          Nevada
NH                   New Hampshire
NJ                      New Jersey
NM                      New Mexico
NY                        New York
NC                  North Carolina
ND                    North Dakota
MP        Northern Mariana Islands
OH                            Ohio
OK                        Oklahoma
OR                          Oregon
PW                           Palau
PA                    Pennsylvania
PR                     Puerto Rico
RI                    Rhode Island
SC                  South Carolina
SD                    South Dakota
TN                       Tennessee
TX                           Texas
UT                            Utah
VT                         Vermont
VI                  Virgin Islands
VA                        Virginia
WA                      Washington
WV                   West Virginia
WI                       Wisconsin
WY                         Wyoming

In [45]:
pop_df = pop_df[["STNAME", "POPESTIMATE2019"]]
state_pop = pop_df.groupby("STNAME").sum()

In [47]:
state_pop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   POPESTIMATE2019  51 non-null     int64
dtypes: int64(1)
memory usage: 816.0+ bytes

In [33]:
df.columns

Index(['date', 'state', 'death', 'deathConfirmed', 'deathIncrease',
       'deathProbable', 'hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
       'inIcuCurrently', 'negative', 'negativeIncrease',
       'negativeTestsAntibody', 'negativeTestsPeopleAntibody',
       'negativeTestsViral', 'onVentilatorCumulative', 'onVentilatorCurrently',
       'positive', 'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='object')

In [6]:
# required_cols = ["date", "state", "deathIncrease", "hospitalizedCumulative", "hospitalizedCurrently", "inIcuCurrently", "onVentilatorCurrently", "totalTestEncountersViral", "recovered", "positive"]
# df = df[required_cols]

In [34]:
required_cols = ["date", "state", "deathIncrease", "hospitalizedCumulative", "hospitalizedCurrently", "totalTestResultsIncrease", "recovered", "positive"]
df = df[required_cols]

In [35]:
print(f"old length: {len(df)}")
new_df = df.dropna()
print(f"new length: {len(new_df)}")

old length: 20780
new length: 7654

In [38]:
new_df

,date,state,deathIncrease,hospitalizedCumulative,hospitalizedCurrently,totalTestResultsIncrease,recovered,positive
1,2021-03-07,AL,-1,45976.0,494.0,2347,295690.0,499819.0
2,2021-03-07,AR,22,14926.0,335.0,3380,315517.0,324818.0
15,2021-03-07,ID,3,7184.0,150.0,396,96017.0,172931.0
19,2021-03-07,KY,13,19457.0,558.0,0,48145.0,410709.0
21,2021-03-07,MA,43,19713.0,665.0,96578,508745.0,591356.0
...,...,...,...,...,...,...,...,...
19289,2020-03-28,MN,1,57.0,30.0,3837,215.0,687.0
19334,2020-03-27,IA,2,50.0,32.0,1218,18.0,235.0
19345,2020-03-27,MN,2,51.0,34.0,1076,176.0,640.0
19390,2020-03-26,IA,0,46.0,31.0,34,15.0,179.0
19457,2020-03-25,MN,0,35.0,26.0,5696,121.0,502.0